/*static home page starts here*/

.statichome  {
	background-image: url("/assets/director_red.jpg");
	background-size: 100%;
	color: white;
	background-repeat: no-repeat;
	overflow: hidden;
}
#circle {
	width: 300px;
	height: 300px;
	background: black;
	border-radius: 50px;
	border: solid white 5px;
	margin-top: 123px;
	padding: 0px;
	text-align: center;
	float: left;
	position: fixed;
}
#circle2 {
	width: 300px;
	height: 300px;
	background: black;
	border-radius: 50px;
	border: solid white 5px;
	margin-top: 123px;
	margin-left: 1120px;
	padding: 0px;
	float: left;
	text-align: center;
	position: fixed;
}

	
/*this is where the static home page ends*/

/*edit page starts*/
 
.editpage {
	background-image: url("/assets/editmess2.jpg");
	background-size: 100%;
}

.editform{
	/*text-align: center;*/
	font-size: 25px;
	margin-top: -248px;
	padding: 0px 0px 0px 0px;
	/*background-color: grey;*/
    opacity: 0.8;
}

/*edit page ends*/

.usersnew {
	background-image: url("/assets/signup.jpg");
	
	background-size: 100%;
	/*overflow: hidden;*/
}
.welcome {
	url("Pics/movie_screen2.jpg");
	background-size: cover;
}

/*login page starts*/
.clapper {
	padding-left: 402px;
}
.wrapperlogin {
	overflow: hidden;
	background-color: gray;
	color: white;
	margin-top: 30px;
	margin-left: 40px;
	
}

.login {
	font-family: 'chalkduster';
	font-size: 30px;
	margin-left: 655px;
    margin-bottom: 272px;
    /*color: red;*/
    margin-top: -315px;
}


.loginh2 {
	font-family: 'chalkduster';
	font-size: 25px;
	/*color: red;*/
    margin-top: -221px;
    margin-left: 494px;
    /*color: white;*/

}

.loginh3 {
	font-family: 'chalkduster';
	height: 30px;
	font-size: 25px;
	margin-bottom: 800px;
    /*color: red;*/
    margin-left: 498px;
    margin-top: 50px;
  }  

.input1 {
	height: 21px;
	width: 164px;
}
/* this is where the log-in page ends */


a:link {
	text-decoration: none;
	color: blue;
}

a:active {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: green;
}

ul, li {
	display: inline;
	text-align: center;
	margin-top: 50px;
}


.button1 {
	margin-left: 666px;
    margin-top: -720px;
    size: 20em;
}
.center {
	text-align: center;
}

#supf{
	text-align: center;
	font-size: xx-large;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background-color: grey;
    opacity: 0.8;
}

.signupbod{
	background-image: url('/assets/movie_set.jpg');
	background-size: cover;
}

#signupform{
	width: 132px;
	height: 540px;
	color: white;
	text-align: center;
	background-color: grey;
	opacity: 0.8;
}
/*This is where the profile page is styled*/
.profilebod{
	background-image: url('/assets/movie_screen2.jpg');
	background-size: cover;
}

#profilepage{
	margin: 0 auto;
	margin-top: 40px;
	width: 700px;
	height: 400px;
}

#headshot {
	margin: 0 auto;
	float: right;
}
#headshot1 {
	
}

#headshotlarge {
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background-color: rgba(0,0,0,0.5);
display: none;

}
/*profile page ends*/

/*this is where the search styling starts*/



